#buy_list {
    background-color: #a3d6dd;
    position: relative;
    box-shadow: 1px 1px 200px #d7d7d7;
    border-radius: 5px;
    top: 50px;
    margin: 0 auto;
    width: 85%;
    height: auto;
    z-index: 99;
    padding: 10px;
}

#buy_list tr{
    font-size: 1.2em;
    height: 40px;
    display: inline-block;
    width: 80%;
}

#buy_list table tr td:first-child {
    display: inline-block;
    position: relative;
    left: 25%;
}

#buy_list table tr td:nth-child(2) {
    font-weight: 600;
    display: inline-block;
    position: absolute;
    right: 25%;
}