*{
    margin:0;
    padding: 0;
}
#bought {
    text-align: center;
    display: block;
}

#bought #title {
    color: #4f4f4f;
    position: relative;
    top: 50px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

#bought_list {
    text-align: center;
    display: block;
    background-color: #f4dadb;
    box-shadow: 1px 1px 100px #fae0e1;
    position: relative;
    border-radius: 5px;
    top: 100px;
    margin: 0 auto;
    width: 85%;
    height: auto;
    z-index: 99;
    padding: 10px;
}

#bought_list table {
    text-align: left;
    line-height: 1.8rem;
    width: 100%;
}

#bought_list table tr td:first-child {
    padding-left: 25%;
    width: 50%;
}

#bought_list table tr td:nth-child(2) {
    text-align: center;
    padding-right: 15%;
    width: 50%;
}


#want-buy{
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 15px;
    border-radius: 5px;
    color: #434343;
    width: auto;
    height: auto;
    padding: 10px;
    line-height: 10vw;
    margin-bottom: 20px;
    background-color: #c8d9eb;
}

